@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraBold.otf');
    font-weight: 800;
}

*{
    margin: 3px;
}

body {
    background: #e9eef5;
    font-family: "Gilroy", sans-serif;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    height: 98vh;
    width: 99vw;
    overflow: hidden;
    grid-gap: 10px;
}

.navbar {
    background-color: #c9d8e6;
    grid-row: span 1;
    grid-column: span 12;
    border-radius: 10px;
    display: flex;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navbar h1{
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    padding-left: 20px;
}

.navbar span {
    font-weight: 600;
    font-style: normal;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding-right: 30px  ;
}

.navbar li {
    cursor: pointer;
    list-style: none;
    margin-left: 20px;
}

.billboard {
    display: flex;
    background-color: #c9d8e6;
    grid-row: 2 / 8;
    grid-column: 1 / 6;
    border-radius: 10px;
    align-items: center;
    padding-left: 30px;
}

.billboard h1 {
    padding-top: 45px;
    font-weight: 600;
    font-size: 33px;
}

.billboard span {
    font-style: italic;
    font-weight: normal
}

#kiss {
    align-self: start;
    margin-right: 30px;
    padding-top: 10px;
}

#sabrina {
    object-fit: cover;
    grid-row: 2 / 9;
    grid-column: 6 / 9;
    width: 100%;
    border-radius: 10px;
}

.songs {
    display: flex;
    grid-area: 2 / 9 / 11 / 13;
    background-color: #c9d8e6;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: space-between;
}

.songs h1 {
    font-weight: 600;
    font-size: 20px;
    padding: 15px 0 0 15px;
}

#seta {   
    display: flex;
    width: 35px;
    height: 35px;
    object-fit: cover; 
    cursor: pointer;
}

#espresso {
    margin: auto;
    border-radius: 10px;
}

.texto div {
    display: flex;  
    background-color: #9eb8ce;
    height: 2px;
    width: 350px; 
    margin-left: 20px;
}

.texto p {
    line-height: 25px;
    padding-left: 20px;
    padding: 10px 0 10px 20px;
    font-weight: 500;
}

.info {
    display: flex;
    background-color: #c9d8e6;
    grid-row: 8 / 13;
    grid-column: 1 / 5;
    border-radius: 10px;
    flex-wrap: wrap;
}

#envelope {
    align-self: flex-start;
    width: 90px;
    padding: 10px 0 0 10px;
}

.info p {
    align-self: flex-end;
    padding: 0 0 20px 20px;
    line-height: 20px;
}

.more {
    display: flex;
    background-color: #9eb8ce;
    grid-row: 8 / 13;
    grid-column: 5 / 9;
    border-radius: 10px;
}

#t{
    font-size: 12px;
    padding: 10px 0 0 10px; 
    text-align: center;
    justify-items: start;
}

#seta2 {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
}

#t2 {
    font-size: 50px;
    font-weight: 600;
    align-self: flex-end;
    padding-right: 200px;
    padding-bottom: 15px;
    text-decoration: underline;
    font-style: italic;
}

.social {
    display: flex;
    background-color: #c9d8e6;
    grid-row: 11 / 13;
    grid-column: 9 / 13;
    border-radius: 10px;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
}