*{
    margin: 5px;
}

body {
    background: #f0f4f9;
    font-family: "Questrial", sans-serif;
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12, 1fr) ;
    grid-gap: 5px;
}

.navbar{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.sc {
    display: flex;
    background-color: #c9d8e6;
    border-radius: 20px;
    height: 80px;
} 

.sc h1{
    font-size: 25px;
    padding: 20px;
    font-weight: normal;
    font-style: italic;
}

.sc span {
    font-weight: bolder;
    font-style: normal;
}

.sc li {
    cursor: pointer;
    list-style: none;
}

.billboard {
    display: flex;
    background-color: rgb(201, 216, 230);
    border-radius: 20px;
    grid-row: 2 / 7;
    grid-column: 1 / 6;
    margin-left: 8px;
}

/* .billboard h1 { 
    align-self: flex-end;
    font-size: 45px;
}

.billboard span {
    font-weight: normal;
} */

#sabrina {
    grid-row: 2 / 7;
    grid-column: 6 / 9;
    object-fit: cover;
    height:
    border-radius: 20px;
}

.songs {
    background-color: #c9d8e6;
    grid-column: 9 / 13;
    grid-row: 2 / 6;
    border-radius: 20px;
}

.info {
    background-color: #c9d8e6;
    border-radius: 20px;
    grid-row: 7 / 12;
    grid-column: 1 / 5;
}

.more {
    background-color: #93a9bb;
    border-radius: 20px;
    grid-row: 7 / 12;
    grid-column: 5 / 9;
}

/* #aec8dd */

/*12 colunas*/